body {
    font-family: 'pluto sans medium', 'Helvetica Neue', Helvetica, sans-serif;
}

.container {
    max-width: 960px;
}

a,
a:hover,
a:active {
    color: #32b846;
}

.post-tags-lists {
    list-style-type: none;
    color: #666;
    padding-left: 0;
    font-size: 90%;
    text-align: right;
}

.post-tags {
    display: inline-block;
    margin: 0 10px;
}
