---
layout: default
---

{% for data_tag in site.data.tags %}
  {% if data_tag.slug == page.tag %}
    {% assign tag = data_tag %}
  {% endif %}
{% endfor %}


<h1 class="page-title">Articles by tag: {{ tag.name }}</h1>

<div class="posts">
    {% if site.tags[page.tag] %}
        {% for post in site.tags[page.tag] %}
          <article class="post">

            <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

            <div class="entry">
              {{ post.excerpt }}
            </div>

            <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>

            {% if post.tags.size > 0 %}
              <ul class="post-tags-lists">
                {% for post_tag in post.tags %}
                  {% for data_tag in site.data.tags %}
                    {% if data_tag.slug == post_tag %}
                      {% assign tag = data_tag %}
                      <li class="post-tags">
                        <a href="{{ site.baseurl }}/tag/{{ tag.slug }}/">#{{ tag.name }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              </ul>
            {% endif %}

          </article>
        {% endfor %}
    {% else %}
        <p>There are no posts for this tag.</p>
    {% endif %}
</div>
