---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  {% assign post = page %}

  {% if post.tags.size > 0 %}
    {% for post_tag in post.tags %}
      {% for data_tag in site.data.tags %}
        {% if data_tag.slug == post_tag %} {% assign tag = data_tag %} {% endif %}
      {% endfor %}
      {% if tag %}
        {% capture tags_content_temp %}
          {{ tags_content }}
          <li class="post-tags">
            <a title="Open all articles tagged #{{ tag.name }}" href="{{ site.baseurl }}/tag/{{ tag.slug }}/">#{{ tag.name }}</a>
          </li>
          {% if forloop.last == false %}{% endif %}
        {% endcapture %}
        {% assign tags_content = tags_content_temp %}
      {% endif %}
    {% endfor %}
  {% else %}
    {% assign tags_content = '' %}
  {% endif %}

  <ul class="post-tags-lists">{{ tags_content }}</ul>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }} {% if site.data.authors.[page.author_id].name %} by {{ site.data.authors.[page.author_id].name }} {% endif %}
    {% if site.data.authors.[page.author_id].twitter %} (<a href="https://twitter.com/{{site.data.authors.[page.author_id].twitter}}">@{{site.data.authors.[page.author_id].twitter}}</a>){% endif %}
  </div>

  {% include disqus.html %}
</article>
