---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  {% assign post = page %}
  {% if post.tags.size > 0 %}
    <ul class="post-tags-lists">
      {% for post_tag in post.tags %}
        <li class="post-tags">#{{ post_tag }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }} {% if site.data.authors.[page.author_id].name %} by {{ site.data.authors.[page.author_id].name }} {% endif %}
    {% if site.data.authors.[page.author_id].twitter %} (<a href="https://twitter.com/{{site.data.authors.[page.author_id].twitter}}">@{{site.data.authors.[page.author_id].twitter}}</a>){% endif %}
  </div>

  {% include disqus.html %}
</article>
